<aside th:fragment="aside" class="left-sidebar" data-sidebarbg="skin6">
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar">
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav">
      <ul id="sidebarnav">
        <!-- User Profile-->
        <li class="sidebar-item pt-2">
          <a class="sidebar-link waves-effect waves-dark sidebar-link" href="dashboard.html"
             aria-expanded="false">
            <i class="far fa-clock" aria-hidden="true"></i>
            <span class="hide-menu">acceuil</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link waves-effect waves-dark sidebar-link" href="../../../../../../../Downloads/ample-admin-lite-master/profile.html"
             aria-expanded="false">
            <i class="fa fa-user" aria-hidden="true"></i>
            <span class="hide-menu">Profile</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link waves-effect waves-dark sidebar-link" href="../../../../../../../Downloads/ample-admin-lite-master/basic-table.html"
             aria-expanded="false">
            <i class="fa fa-table" aria-hidden="true"></i>
            <span class="hide-menu">activer une offre</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link waves-effect waves-dark sidebar-link" href="../../../../../../../Downloads/ample-admin-lite-master/map-google.html"
             aria-expanded="false">
            <i class="fa fa-globe" aria-hidden="true"></i>
            <span class="hide-menu">SAV</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link waves-effect waves-dark sidebar-link" href="../../../../../../../Downloads/ample-admin-lite-master/blank.html"
             aria-expanded="false">
            <i class="fa fa-columns" aria-hidden="true"></i>
            <span class="hide-menu">consulter ses acces</span>
          </a>
        </li>

      </ul>

    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</aside>